/konakart_onepagecheckout/war/WEB-INF/lib/
/konakart_onepagecheckout/war/WEB-INF/classes/
/konakart_onepagecheckout/war/WEB-INF/deploy/
/konakart_onepagecheckout/war/com.konakart.Konakart/
/konakart_onepagecheckout/log/
/konakart_onepagecheckout/bin/
